# Ignore Python virtual environment
venv/

# Ignore Node.js modules
node_modules/

# Ignore Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Flask-related files
instance/
*.pyc
*.pyo
__init__.py

# Ignore JavaScript-related files
node_modules/
dist/
build/
*.log
*.tmp
*.pid
npm-debug.log

.vscode/


# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Environment-specific files
.env

# Ignore Configuration files
config.js
config.json